# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# JSON
processed.json
teamdl-firebase-adminsdk-fbsvc-e94b44d7c0.json

# Logs
*.log

# Sessions
*.session
*.session-journal
*.session-journal